body {
    background-color: rgb(192, 184, 184);
    margin: 0;
}

.navbar_cv-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.8);
    height: 80px;
}
  
.navbar_cv-item {
    float: right;
}

.navbar_cv-item:first-child {
    float: left;
}
  
.navbar_cv-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 31px 17px;
    text-decoration: none;
    font-size: 19px;
}
  
.navbar_cv-item a:hover {
    color: rgb(0, 0, 0);
    cursor: grab;
}
  
.navbar_cv-item img {
    width: auto;
    height: 64px;
    transform: translate(0, -19px);
    padding-left: 19px;
    overflow: hidden;
}

.searchContainer {
    padding-right: 4vw;
    transform: translate(0, 23px);
}

.searchContainer input[type=text] {
    font-size: 12px;
    padding-top: 9px;
    padding-right: 3px;
    padding-bottom: 9px;
    padding-left: 9px;
    border-radius: 3px;
    border: none;
}

.navbar_cv-item:nth-child(2) {
    margin-right: 19px;
}

#current_tab{
    text-decoration: underline;
    color: white;
    text-underline-offset: 6px;
}

@media (max-width: 650px) {
    .navbar_cv-item {
        float: none;
    }
     .navbar_cv-item a, .navbar_cv-list {
        width: 100%;
        height: auto;
        font-size: 17px;
        padding: 6px;
        margin: 0px;
    }
    .navbar_cv-item img, .navbar_cv-item:first-child {
        height: 46px;
        padding: 4px;
        transform: translate(0px, 0px);
        float: none;
    }

    .navbar_cv-item:nth-child(2) {
        padding-top: 10px;
        padding-bottom: 2px;
        margin-right: 0px;
    }

    .searchContainer, .searchContainer input {
        float: none;
        display: block;
        transform: translate(0px, 0px);
        padding: 2px;
        margin-left: auto;
        margin-right: auto;
        width: 39vw;
        min-width: 150px;
        margin-bottom: 2px;
        margin-top: 2px;
    }
}